background()
table, tr, td, th {
 font-family:Arial, Helvetica, sans-serif;
 border:1px solid black;
 border-collapse: collapse;
}

th {
 text-align:left;
 background-color:azure;
 color:blue;
 padding:10px;
}

td {
 background-color:aliceblue;
 color:blueviolet;
 padding:15px;
 border-color: hotpink
}

body {
  height: 100%;
  background-image: linear-gradient(Magenta, Red);
  background-attachment: fixed;
}

#ClientInfo {
  outline: 5px solid blue;
  font-size: 19px;
  text-align: center;
  width: 80%;
  margin: auto;
  background-color: magenta;
}