body, html {
  height: 100%;
}

body{
  /* The image used */
  color: black;
  background-image: url("galaxy.jpg");
  background-size: 1920px 1080px;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#astraText{
  background-color:white;
}
#Dev-credits {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
}
mark {
  background-color: white;
  color: black;
}

#HotLists {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: left;

}

#combatdivheader {
  margin: auto;
  padding: 10px;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}